@tailwind base;
@tailwind components;
@tailwind utilities;

/* Clean HTML */
*,
::before,
::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.img-toplist {
  width: 100%;
  max-height: 300px;
  object-fit: cover;
  aspect-ratio: 9 / 16;
  border-radius: 30px;
  transition: 0.3s ease all;
  -webkit-transition: 0.3s ease all;
  -moz--transition: 0.3s ease all;
  -ms-transition: 0.3s ease all;
  -o-transition: 0.3s ease all;
}

.img-toplist:hover {
  scale: 105%;
  border-radius: 5px;
  transition: 0.5s;
}

/* .img-detail {
  max-width: 70%;
  max-height: 300px;
  object-fit: cover;
  aspect-ratio: 9 / 16;
  border-radius: 30px;
  transition: 0.3s ease all;
  -webkit-transition: 0.3s ease all;
  -moz--transition: 0.3s ease all;
  -ms-transition: 0.3s ease all;
  -o-transition: 0.3s ease all;
} */

.title:hover {
  transition: 0.5s;
  color: rgb(192, 167, 29);
}

.loader {
  width:100px;
  height:100px;
  color:#766DF4;
  --c:radial-gradient(farthest-side,currentColor 92%,#0000);
  background: 
    var(--c) 50% 0   /24px 24px,
    var(--c) 50% 100%/24px 24px,
    var(--c) 100% 50%/24px 24px,
    var(--c) 0    50%/24px 24px,
    var(--c) 50%  50%/24px 24px,
    linear-gradient(currentColor 0 0) 50% 50%/8px 100%,
    linear-gradient(currentColor 0 0) 50% 50%/100% 8px;
  background-repeat:no-repeat;
  animation:s8 0.5s infinite linear;
}
@keyframes s8 {to{transform: rotate(.5turn)}}